.page__body {
    background-color: #171717;

}
.container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1460px;
    font-family: sans-serif;
}
.page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 37px;
    padding-bottom: 120px;
}
.call_menu {
    display: flex;
    align-content: center;
    align-items: center;
}
.link_call {
    background-image: url("../images/handset.png");
    background-repeat: no-repeat;
    background-position: bottom 19px left 26px;
    background-size: 13px 13px;
    padding: 10px 25px 10px 49px ;
    border: 1px solid #E4B564;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #E4B564;
    text-transform: capitalize;
}
.number_call {
    color: white;
    font-weight: 700;
    font-size: 20px;
    line-height: 29px;
    margin: 0 39px 0 0;
}
span {
    color: #D6AF76;
}
.jobs {
    margin-bottom: 160px;
}
.title_jobs {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 50px;
    line-height: 33px;
    margin-top: 0;
    margin-bottom: 40px;
}
.text_jobs {
    color: #FFFFFF;
    margin-top: 0;
    margin-bottom: 40px;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
}
.list_jobs {
    padding-left: 0;
    margin-bottom: 0;
    margin-top: 0;
    display: grid;
    grid-template-rows: 466px 466px;
    grid-template-columns: repeat(6, 1fr);
    gap: 27px 24px;
    align-items: stretch;
}
.name_jobs {
    display: grid;
    color: #FFFFFF;
    list-style-type: none;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    align-content: center;
}
.jobs1 {
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: #634F2C;
}
.jobs2 {
    grid-column-start: 3;
    grid-column-end: 5;
    background-color: #B4A385;
    padding-left: 44px;
    padding-right: 43px;
}
.jobs3 {
    grid-column-start: 5;
    grid-column-end: 7;
    background-color: #E4B564;
}
.jobs4 {
    grid-column-start: -7;
    grid-column-end: -4;
    background-color: #635A4A;
}
.jobs5 {
    grid-column-start: -4;
    grid-column-end: -1;
    background-color: #B08C4D;
}
.tracks {
    margin-bottom: 190px;
}
.title_trucks {
    color: white;
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;
    margin-bottom: 94px;
    margin-top: 0;
}
.list_trucks {
    margin-top: 0;
    margin-bottom: 0;
    color: white;
    list-style-type: none;
    padding-left: 0;
    display: flex;
    flex-wrap: wrap-reverse;
    align-content: space-between;
    flex-direction: column;
    height: 910px;
    gap: 30px
}
.name_tracks {
    width: 467px;
}
.bold_font {
    font-weight: 700;
    color: white;
}
.tracks1 {
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    margin: 0;
    padding: 44px 113px 219px 52px;
    background-color: #0E0E0E;
}
.tracks2 {
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    margin: 0;
    padding: 56px 113px 479px 52px;
    background-color: #1F1F1F;
}
.tracks3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    margin: 0;
    padding: 44px 117px 244px 48px;
    background-color: #0E0E0E;
}
.tracks4 {
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    margin: 0;
    padding: 44px 114px 345px 51px;
    background-color: #242424;
}
.tracks5 {
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    margin: 0;
    padding: 47px 113px 333px 52px;
    background-color: #E4B564;
    color: #000000;
}
.tracks6 {
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    margin: 0;
    padding: 44px 117px 186px 48px;
    background-color: #1F1F1F;
}
.tracks7 {
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    margin: 0;
    padding: 44px 117px 208px 48px;
    background-color: #0A0909;
}
.project {
    padding-top: 172px;
    padding-bottom: 240px;
    background-color: #0E0E0E;
    width: 100%;
}
.menu_project {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
}
.title_project {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;
    margin: 0;
}
.link_project {
    color: #E4B564;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    border: 1px solid #E4B564;
    padding: 10px 39px 10px 40px;
}
.list_project {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 391px 391px;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    text-align: center;
}
.project1 {
    background-color: #634F2C;
    padding: 171px 151px 171px 151px ;
}
.project2 {
    background-color: rgba(232, 210, 171, 0.76);
    color: #FFFFFF;
}
.link_project2 {
    list-style-type: none;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}
.link_project_item1 {
    padding-top: 68px;
    padding-bottom: 3px;
}
.link_project_item2 {
    padding-bottom: 16px;
}
.link_project_item3 {
    margin: 0;
    padding: 0 86px 80px;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
}
.project3 {
    background-color: #E4B564;
    padding: 174px 148px 175px 149px;
}
.project4 {
    background-color: #635A4A;
    padding: 174px 148px 175px 149px;
}
.project5 {
    background-color: #B08C4D;
    padding: 169px 183px 169px 184px;
}
.project6 {
    background-color: #634F2C;
    padding: 171px 151px 171px 151px;
}